<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Tokenized Ballot App</h1>
  <div class="col-lg-6 mx-auto d-grid gap-3">
    <div *ngIf="wallet">
      <button
        (click)="logout()"
        type="button"
        class="btn btn-danger btn-lg px-4 gap-3"
      >
      Disconnect Wallet
      </button>
    </div>
    <div
      *ngIf="!wallet"
      class="d-grid gap-2 d-sm-flex justify-content-sm-center"
    >
      <button
        (click)="createWallet()"
        type="button"
        class="btn btn-success btn-lg px-4 gap-3"
      >
        Create Wallet
      </button>
      <button
        (click)="displayImportWalletForm()"
        type="button"
        class="btn btn-info btn-lg px-4 gap-3"
      >
        Import Wallet
      </button>
      <button disabled type="button" class="btn btn-danger btn-lg px-4 gap-3">
        Connect Wallet
      </button>
    </div>
    <div *ngIf="importWallet" class="d-grid gap-3">
      <input
        #mnemonicOrPrivateKey
        type="password"
        class="form-control"
        placeholder="Enter your mnemonic or private key"
      />
      <div class="justify-content-sm-center">
        <button
          (click)="importWalletFromMnemonicOrPrivateKey(mnemonicOrPrivateKey.value)"
          type="button"
          class="btn btn-success btn-lg px-4 gap-3"
        >
          Submit
        </button>
      </div>
    </div>
    <div *ngIf="wallet">
      <p>The token address is {{ tokenAddress }}</p>
      <p>Your wallet address is {{ wallet.address }}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-4">
        <div class="card">
          <div class="card-body">Your ETH balance is {{ ethBalance }}</div>
        </div>
        <div class="card">
          <div class="card-body">Your token balance is {{ tokenBalance }}</div>
        </div>
        <div class="card">
          <div class="card-body">Your voting power is {{ votePower }}</div>
        </div>
      </div>
      <button
        (click)="requestTokens()"
        type="button"
        class="btn btn-success btn-lg px-4 gap-3"
      >
        Request tokens
      </button>
      <input
        #inputBallotAddress
        type="text"
        class="form-control my-4"
        placeholder="Paste your ballot address here"
      />
      <button
        (click)="connectBallot(inputBallotAddress.value)"
        type="button"
        class="btn btn-success btn-lg px-4 gap-3"
      >
        Connect Ballot
      </button>
    </div>
  </div>
</div>
